BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 160
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
AlignAfterOpenBracket: DontAlign
PointerAlignment: Left
ReferenceAlignment: Left
BreakStringLiterals: false
SortIncludes: Never
SortUsingDeclarations: Never
FixNamespaceComments: false
ReflowComments: false
